<div class="mb-3" *ngIf="state">
    <label class="form-label">Password</label>
    <input type="password" id="password" class="form-control" #txtPassword placeholder="Password">

    <label class="form-label">Email address</label>
    <input type="password" id="passwordConfirm" class="form-control" #txtPasswordConfirm placeholder="Password Confirm">


    <button type="button" class="btn btn-primary" style="margin-top:5px;"
        (click)="updatePassword(txtPassword.value,txtPasswordConfirm.value)">Şifreyi Güncelle</button>
</div>
